.light {
  --body-bg: #fff;
  --body-color: #212529;

  --primary-color: #007bff;
  --success-color: #28a745;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --info-color: #17a2b8;
  --secondary-color: #6c757d;

  --border-color: #dee2e6;
  --border-accent-color: #7f8082;

  background-color: var(--body-bg);
  color: var(--body-color);
}
