.card {
  border-width: var(--border-thickness);
  border-style: solid;
  font-size: 1rem;
  color: var(--card-color);
  border-color: var(--border-color);
  display: flex;
  flex-direction: column;
}

.card .title {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  border-bottom: var(--border-thickness) solid var(--border-color);
  background-color: var(--card-bg);
}

.card .body {
  padding: 0.5rem 1rem;
  width: 100%;
}

.card .footer {
  border-top: var(--border-thickness) solid var(--border-color);
  flex: 1;
  background-color: var(--card-bg);
}

.large .body,
.large .title {
  font-size: 1.25rem;
  padding: 0.75rem 1.25rem;
}

.small .body,
.small .title {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
}

/* Variants */

.primary {
  --card-bg: var(--primary-color-100);
  --border-color: var(--primary-color-300);
  --border-accent-color: var(--primary-color-600);
  --card-color: var(--primary-color-800);
}

.success {
  --card-bg: var(--success-color-100);
  --border-color: var(--success-color-300);
  --border-accent-color: var(--success-color-600);
  --card-color: var(--success-color-800);
}

.warning {
  --card-bg: var(--warning-color-100);
  --border-color: var(--warning-color-300);
  --border-accent-color: var(--warning-color-600);
  --card-color: var(--warning-color-800);
}

.danger {
  --card-bg: var(--danger-color-100);
  --border-color: var(--danger-color-300);
  --border-accent-color: var(--danger-color-600);
  --card-color: var(--danger-color-800);
}

.info {
  --card-bg: var(--info-color-100);
  --border-color: var(--info-color-300);
  --border-accent-color: var(--info-color-600);
  --card-color: var(--info-color-800);
}

.secondary {
  --card-bg: var(--secondary-color-100);
  --border-color: var(--secondary-color-300);
  --border-accent-color: var(--secondary-color-600);
  --card-color: var(--secondary-color-800);
}
