.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidenav {
  width: 250px;
  border-right: var(--border-thickness) solid var(--border-color);
  background-color: var(--body-secondary);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.logo {
  height: 100%;
  max-width: 150px;
  height: auto;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.topnav {
  border-bottom: var(--border-thickness) solid var(--border-color);
  padding: 10px;
  display: flex;
  align-items: center;
}

.main {
  padding: 10px;
}

.sidenavLink {
  display: flex;
  padding: 0.25rem 0.5rem;
  color: var(--body-color);
  text-decoration: none;
  font-size: 1rem;
  border-radius: 3px;
  border: var(--border-thickness) solid transparent;
  transition: all 180ms ease;

  min-height: 36px;

  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.focus {
  border: var(--border-thickness) solid var(--border-color);
}

.sidenavIcon svg {
  height: 1.25rem;
}

.sidenavSection {
  padding: 0.25rem 0.5rem;
  padding-right: 0px;
}

.sidenavSectionItems {
  border-left: var(--border-thickness) solid var(--border-color);
  max-height: 0;
  opacity: 0;
  transition: all 180ms ease;
  overflow: hidden;
}

.sidenavSectionItems > div {
  margin-left: calc(var(--border-thickness) * -1);
}

.sidenavSectionItems.open {
  max-height: 800px;
  opacity: 1;
}

.sidenavSectionLabel {
  color: var(--body-color);
  padding: 0.25rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.sidenavSectionLabel:hover * {
  opacity: 1;
}

.sidenavSectionLabel * {
  opacity: 0.85;
}

.sidenavSectionTrigger {
  rotate: -90deg;
  transition: all 180ms ease;
}

.sidenavSectionTrigger.open {
  rotate: 0deg;
}

.sidenavDropdown {
  border: none;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 100%;
}
