.hatch {
  --bc: var(--border-color);
  --bg: transparent;
  --stripe: var(--border-thickness);

  background-color: #e5e5f7;
  opacity: 0.8;
  background: repeating-linear-gradient(
    -45deg,
    var(--bc),
    var(--bc) var(--stripe),
    var(--bg) var(--stripe),
    var(--bg) calc(3 * var(--stripe))
  );
}
